<div class="number">Tip #{{tip.number}}</div>
<h3 class="title">{{tip.title}}</h3>
<div class="description">{{tip.description}}</div>
<div class="reported-by">Reported by @{{tip.author.username}}</div>
<div class="confirmations">Confirmed by {{tip.confirmations.length}} core team members</div>
<div class="voting">
  <div class="vote-up">
    <img src="/images/thumbs-up.svg" alt="thumbs up">
    {{tip.upVotes.length}}
  </div>
  <div class="vote-down">
    <img src="/images/thumbs-down.svg" alt="thumbs up">
    {{tip.downVotes.length}}
  </div>
</div>
