<div class="main">
  <div class="number">Tip #{{tip.number}}</div>
  <h3 class="title">
    {{#link-to 'tip' tip.id}}
      {{tip.title}}
    {{/link-to}}
  </h3>
  {{#if showDescription}}
    <div class="description">{{tip.description}}</div>
  {{/if}}
  <div class="reported-by">Reported by @{{tip.author.username}}</div>
</div>
<div class="voting">
  <div class="vote-up">
    <img src="/images/thumbs-up.svg" class="thumbs-up" alt="thumbs up">
    {{tip.upVotes.length}}
  </div>
  <div class="vote-down">
    <img src="/images/thumbs-down.svg" class="thumbs-down" alt="thumbs down">
    {{tip.downVotes.length}}
  </div>
</div>
